p {
    margin: 6px,
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    background-color: orange;
}

html {
    box-sizing: border-box;
}

h1 + p {
  font-weight: bold;
  color: brown;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

* {
    box-sizing: inherit;
}

.my-grid {
  text-align:center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 100px 100px 100px 100px 10≥0px;
  width: 275px;
  border: 3px solid #46560d;
  border-width: 2px 4px 6px 4px;
  padding: 10px;
}

.has-blue-background {
  background-color: #cfe8f8;
  border: 1px solid #721EE3;
}

.has-yellow-background {
  background-color: #fdffb8;
  border: 1px solid #E38C1E;
}
